<% content_for :title, "Chat Server" %>

<p class="lead">
  You can chat with people. This is a tech demo to prove that Server Sent
  Events are going to work for another project. I hope they do.
</p>
